header {
  margin-top: 80px;
  margin-bottom: 40px;
}



/* topic  */
header h1 {
  text-align: center;
}

/* week  */
header h3 {
  text-align: center;
}

/* date  */
header h4 {
  text-align: center;
}

hr {
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
   margin-top: 30px;
}

article {
  margin-left: 10%;
  margin-right: 10%;
}

code{
    display: inline-block;
    padding-right: 60px;
    background-color: lightgray;
}

.sample-code{
  width: 100%;
}