/*   Use for testing only!!!
{
  border: dashed;
}
*/
body {
  background: url ("imgs/bike-car.jpg")no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li a {
  display: block;
  text-decoration: none;
  color: black;
}

li a:hover {
  background-color: blue;
  color: white;
}

li a.active {
  blackground: green;
  color: white;
}