body {
  background-image: url("http://aaron1515.github.io/imgs/bike-car.jpg");
  background-repeat: no-repeat;
  background-size: auto;

}

.top {
  color: white;
  text-align:center;
  padding-top: 150px;
  padding-bottom: 300px;
}

.why-here {
  text-align: center;
  margin-top:100px;
  margin-left: 15%;
  Margin-right:15%;
  padding-top:25px;
  padding-right:55px;
  padding-left: 55px;
  padding-bottom: 20px;
  border-style: outset;
}

.why-here img {
    border-radius: 200px;
    height: 200px;
    width: 200x;
    box-shadow: 10px 10px 50px #888888;
}

footer p {
  margin-top: 40px;
  margin-right: 10px;
  font-size: 12px;
  float: right;
}

.blog {
  text-align: center;
  margin-top: 60px;
  margin-left: 15%;
  Margin-right:15%;
  padding-top:25px;
  padding-right:55px;
  padding-left: 55px;
  padding-bottom: 20px;
  border-style: outset;

}

.blog-date {
  font-size: 12px;
}

section {
 border-style: outset;
 text-align: center;
 margin-left: 15%;
 margin-right:15%;
 padding-left:5%;
 padding-right:5%;
}

section img{
  width: 100%;

}

.add-top-margin {
  margin-top: 60px;
}

h1 {
  text-align: center;
}

footer {

}