.main{
  height: 500px;
  width: 500px;
  background-color: blue;
  position:relative;
  margin-left: auto ;
  margin-right: auto ;

}

.middle{
  height:100px;
  width:100px;
  background-color:gray;
  top: 50px;
  left: 30px;
  position:absolute;
  border-radius: 20px
}

.upper {
  box-sizing:border-box;
  height:100px;
  width:100%;
  background-color:lightgray;
  position: relative;
  color: black;
  padding-top: 30px;
  padding-right: 30px;
}

.lower {
  box-sizing:border-box;
  background-color: #333;
  width: 100%;
  height:400px;
  position: relative;
  color:white;
  padding-left: 170px;
  padding-top: 60px;
  padding-right: 20px;
  font-size: 20px;

}

.upper h1{
  float:right;
  padding-top:
}

.title{
  border-top: 100p
}

img {
  width: 60px;
  padding-left:20px;
  padding-top: 10px;
}